<div class="main-holder">
    <div class="top-block">
    </div>
    <div class="header-holder ">
        <div class="rays ">
            <div>
                <div class="toolbar-right ">
                    <div class="textwidget col-lg-12 col-xs-12 col-centered">
                        <a>
                            <img src="../../assets/images/Fresh logo 400px-02.jpg" class="imgstyles" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>