<!-- 



<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselName">Name</span>
    <span class="mat-header-cell" mat-sort-header="vesselId">Vessel Id</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Status</span>
    <span class="mat-header-cell" mat-sort-header="ircs">IRCS</span>
  </section>

  <mat-expansion-panel *ngFor="let item of displayedRows$">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{item.vesselName}}</span>
      <span class="mat-cell">{{item.vesselId}}</span>
      <span class="mat-cell">{{item.vesselStatus}}</span>
      <span class="mat-cell">{{item.ircs}}</span>
    </mat-expansion-panel-header>
    <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
  </mat-expansion-panel>

</mat-accordion>
<mat-paginator #paginator
  [length]="totalRows$ "
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator> -->



<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselName">Name</span>
    <span class="mat-header-cell" mat-sort-header="vesselId">Vessel Id</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Status</span>
    <span class="mat-header-cell" mat-sort-header="ircs">IRCS</span>
  </section>

  <mat-expansion-panel *ngFor="let item of displayedRows$ | async">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{item.vesselName}}</span>
      <span class="mat-cell">{{item.vesselId}}</span>
      <span class="mat-cell">{{item.vesselStatus}}</span>
      <span class="mat-cell">{{item.ircs}}</span>
    </mat-expansion-panel-header>
  
  </mat-expansion-panel>

</mat-accordion>
